extends ../config-page

block config-content

    h3.page-header Settings

    form(method="POST")
        .form-group
            label(for='siteTitle') Site Title
            input#siteTitle.form-control(type='text', name='siteTitle', placeholder='MkDocs Server', value=siteTitle)

        .form-group
            label(for='admins') Administrators
            input#admins.form-control(type='text', name='admins', placeholder='E.g. alice@example.com, bob@example.com' + (user ? ", " + user.email : ""), value=admins)

        hr

        button.btn.btn-command.btn-primary(type="submit" name="action" value="update") Save
        =" "
        a.btn.btn-command.btn-default(href="/!config") Cancel
