extends config-page

block config-content

    a.btn.btn-command.btn-default(href="/$config/projects") Projects
    =" "
    a.btn.btn-command.btn-default(href="/$config/settings") Settings
    =" "
    a.btn.btn-command.btn-default(href="/$config/auth") Authentication

