extends config-page

block config-content

    h2.page-header Configs

    h3 Projects

    p.
        Configure projects that are served by this MkDocs Server.

    p
        a.btn.btn-command.btn-default(href="/!config/projects") Projects

    hr

    h3 Settings

    p.
        Configure display settings for this MkDocs Server.

    a.btn.btn-command.btn-default(href="/!config/settings") Settings

    hr

    h3 Authentication

    p.

        Configure how users have to authenticate to access this MkDocs Server.

    p
        a.btn.btn-command.btn-default(href="/!config/auth") Authentication

