extends page

block content
  h2.page-header Published Sites

  .list-group
    each project in projects
      a.list-group-item(href='/' + project.id)
        strong= project.title
        span.text-muted=" - " + project.siteDescription

