extends page

block content
  h2.page-header Published Sites

  .list-group
    each site in sites
      a.list-group-item(href='/' + site.name)
        strong= site.title
        span.text-muted=" - " + site.siteDescription

