extends includes/page

block page-content

  h2.page-header
    a.btn.btn-link.pull-right(href="/$config") Config
    | Published Sites

  .list-group
    each project in projects
      a.list-group-item(href='/' + project.id)
        strong= project.title
        span.text-muted=" - " + project.siteDescription

