extends includes/page

block page-content


  h2.page-header= siteTitle

  each authProvider in authProviders
    p
      a.btn.btn-lg.btn-default(href="/!auth/" + authProvider.provider, style="min-width: 12em")
        span.fa.fa-google Sign in with #{authProvider.info.label}

