extends includes/page

block page-content

  h2.page-header
    if !usesAuthentication
      a.btn.pull-right.btn-warning(href="/!config/auth") Authentication Not Configured
    else
      if canAdmin
        a.btn.btn-link.pull-right(href="/!config")
          span.glyphicon.glyphicon-cog(aria-hidden='true', title="Config")
      a.btn.btn-link.pull-right(href="/!auth/logout")
        span.glyphicon.glyphicon-lock(aria-hidden='true', title="Logout")

    =siteTitle

  .list-group
    each project in projects
      a.list-group-item(href='/' + project.id)
        strong= project.title
        span.text-muted=" - " + project.siteDescription
