extends ../config-page

block config-content

    h2.page-header Register New Project

    form(method="POST")
        .form-group
            label(for='repo') Git Repository
            input#repo.form-control(type='text', name='repo', placeholder='e.g. git@github.com:mkdocs/mkdocs.git', value=repo, required)
        .form-group
            label(for='id') ID
            input#id.form-control(type='text', name='id', placeholder='e.g. mkdocks', value=id, required)

        hr

        button.btn.btn-command.btn-primary(type="submit") Register
        =" "
        a.btn.btn-command.btn-default(href="/!config/projects") Cancel
