extends ../page

block content
  h2.page-header Administration

  table.table.table-condensed
    thead
      tr
        th.shrink Status
        th.shrink ID
        th Title
        th
    tbody
      each project in projects
        tr
          td.shrink
            =project.statusLabel + " " + project.activityLabel
          td.shrink
            a(href=`/$admin/projects/${project.id}`)= project.id
              if project.error
                =" "
                span.glyphicon.glyphicon-exclamation-sign.text-danger(aria-hidden='true')
          td= project.title
          td.shrink
            form(method="POST", action="/$admin/rebuild/" + project.id)
              input.btn.btn-default.btn-xs(type="submit" value="Rebuild")

  hr

  a.btn.btn-default(href="/$admin/new-project") Register a New Site...
