extends ../page

block content
  h2.page-header Administration

  table.table.table-condensed
    thead
      tr
        th Status
        th Name
        th Title
        th
    tbody
      each site in sites
        tr
          td
            =site.statusLabel + " " + site.activityLabel
            if site.error
              | ERROR
          td= site.name
          td= site.title
          td
            form(method="POST", action="/$admin/rebuild/" + site.name)
              input.btn.btn-default.btn-xs(type="submit" value="Rebuild")

  hr

  a.btn.btn-default(href="/$admin/new-site") Register a New Site...
