extends ../page

block content
    h2.page-header Register New Site

    form(method="POST")
        .form-group
            label(for='repo') Git Repository
            input#repo.form-control(type='text', name='repo', placeholder='e.g. git@github.com:mkdocs/mkdocs.git', value=repo, required)
        .form-group
            label(for='name') Name
            input#name.form-control(type='text', name='name', placeholder='e.g. mkdocks', value=name, required)

        hr

        button.btn.btn-command.btn-primary(type="submit") Register
        =" "
        a.btn.btn-command.btn-default(href="/$admin") Cancel
