extends ../config-page

block config-content

  h3.page-header Authentication

  p.
    Configure the ways users must authenticate before they can view published documents.
    When no authentication method is configured, anyone can view documents (and administer the server).

  table.table.table-condensed
    thead
      tr
        th.shrink(colspan="2") Provider
        th Restricted To
        th
    tbody
      each auth in authProviders
        tr
          th.shrink(style="text-transform: capitalize")= auth.auth.provider
          td.shrink= auth.config.clientSecret ? "Enabled" : "Disabled"
          td
            small.text-muted.pull-right= auth.activityLabel
            if auth.config.domains && auth.config.domains.length
              = auth.auth.info.domains + ": " + auth.config.domains
          td.shrink
            a.btn.btn-default.btn-xs(href=`/!config/auth/${auth.auth.provider}`) Configure
